<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showNotice</key>
	<true/>
	<key>title</key>
	<string>안내드립니다</string>
	<key>detail</key>
	<string>서버와 접속이 원할하지 않습니다. 잠시 후 시도해주세요.</string>
	<key>date</key>
    <string></string>
	<key>showEvent</key>
    <false/>
</dict>
</plist>
